---
import '../fonts.css'
import '../styles.css'
import Header from '../components/Header.astro'

// capitalize the first letter of every word in a string
function capitalize(s: string): string {
    return s.split(' ')
        .map(word => word.charAt(0).toUpperCase() + word.slice(1))
        .join(' ');
}


const title = capitalize(`Janis Labhart${Astro.props.title ? ` - ${Astro.props.title}` : ''}`);

const baseUrlNoTrailingSlash = import.meta.env.BASE_URL.replace(/\/$/, '');
---
<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="author" content="Bodo Braegger">
        <meta http-equiv="X-UA-Compatible" content="chrome=1">
        <meta name="revisit-after" content="7 days">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <meta property="og:title" content={title}>
        <meta property="og:image" content="https://api.janislabhart.ch/wp-content/uploads/2025/06/IMG_3135-1-scaled.jpg">
        <meta property="og:image:alt" content={title}>
        <meta property="og:description" content=`${title}'s Portfolio`>
        <meta name="description" content=`${title}'s Portfolio`>

        <link rel="icon" href=`${baseUrlNoTrailingSlash}/favicon-16x16.png` sizes="16x16" type="image/png">
        <link rel="icon" href=`${baseUrlNoTrailingSlash}/favicon-32x32.png` sizes="32x32" type="image/png">

        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
    </head>
    <body class="font-bold">
        <Header />
        <slot />
    </body>
</html>
